html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(215,251,255,1) 47%, rgba(178,242,255,1) 100%);
    color: #333;
}

/* #region NavigationRegion */
.site-header {
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 10px;
    background: #333;
    color: white;
    z-index: 10;
}

.navigation {

}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__item {
    display: block;
    margin: 0 16px;
}

.navigation__link {
    color: #1a936f;
}
/* #endregion */

.header {

}

.header__title {
    color: tomato;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}



/* #region About region */
.about {
}

.about__header {
    color: #1460aa;
}

.about__paragraph {
    padding: 16px;
}

.about__link {
    color: #1a936f;
}
/* #endregion */

/* #region Diary regio */
.diary {

}

.diary__header {
    color: #1460aa;
}

.post {

}

.post__header {
    color: #0496FF;
}

.post__link {
    color: #1a936f;
}

.post__paragraph {
    padding: 0 16px;
}
/* #endregion */


.footer {
    background: #333;
    color: white;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media screen and (max-width: 640px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .navigation {
        
    }

    .navigation__list {
        display: none;
        flex-direction: column;
    }

    .navigation__list--visible {
        display: flex;
    }

    .navigation__item {
        margin: 16px;
    }

    .navigation__switcher {
        border: none;
        background: none;
        color: #fff;
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .site-header {
        min-height: 48px;
    }
}

@media screen and (min-width: 640px) and (max-width: 960px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .navigation__switcher {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navigation__switcher {
        display: none;
    }
}

/*
    !impotant nadpisuje domyślne style nawet jeśli są w HTML
    color: darkblue !important;
 */

/* stylowanie po ID 
 #pamietniczek {
    background: hotpink;
} */