html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #fefefe;
    color: #333;
}

/* #region NavigationRegion */
.site-header {
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 10px;
    background: #333;
    color: white;
}

.navigation {

}

.navigation__list {
    list-style: none;
    padding: 0;
}

.navigation__item {
    display: inline;
}

.navigation__link {
    color: #1a936f;
}
/* #endregion */

.header {

}

.header__title {
    color: tomato;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}



/* #region About region */
.about {
}

.about__header {
    color: #1460aa;
}

.about__paragraph {
    padding: 16px;
}

.about__link {
    color: #1a936f;
}
/* #endregion */

/* #region Diary regio */
.diary {

}

.diary__header {
    color: #1460aa;
}

.post {

}

.post__header {
    color: #0496FF;
}

.post__link {
    color: #1a936f;
}

.post__paragraph {
    padding: 0 16px;
}
/* #endregion */


.footer {
    background: #333;
    color: white;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
}

/*
    !impotant nadpisuje domyślne style nawet jeśli są w HTML
    color: darkblue !important;
 */

/* stylowanie po ID 
 #pamietniczek {
    background: hotpink;
} */