body {
    background: #fefefe;
    color: #333;
}

.mainHeader {
    color: tomato;
}

.sectionHeader, .diaryHeader {
    color: #1460aa;
}

.header {
    color: yellow;
}

.heading {
    color: #00487c;
}

.thirdHeader {
    color: #0496FF;
}

.link {
    color: #1a936f;
}

/*
    !impotant nadpisuje domyślne style nawet jeśli są w HTML
    color: darkblue !important;
 */

/* stylowanie po ID 
 #pamietniczek {
    background: hotpink;
} */